<div class="row">
  <div class="ad-300-250"></div>
  <div class="ad-rest">
    <div class="main-logo">
      <p class="logo-text">
        <%= image_tag 'logo-text.png', class: 'pull-left' %>
        <br>
        Much description, very fascinating.
        Much description, very fascinating.
        Much description, very fascinating.
        Much description, very fascinating.
        Much description, very fascinating.
        Much description, very fascinating.
      </p>
    </div>
  </div>

</div>

<h1 class="text-center">A simple tool, which will show you battle potential of your enemy</h1>

<form class="form-inline main-search-form text-center" action="<%= search_path %>" method="get">
  <%= hidden_field_tag :region, current_region %>
  <%= render 'shared/region_dropdown', class_name: 'text-left' %>
  <div class="form-group wide">
    <%= text_field_tag :search, '', placeholder: 'Search', class: 'form-control'  %>
  </div>
  <button class="btn">Search</button>
</form>

<script>
  $(function(){
      $('.home-stat-name').tooltip();
  });
</script>
