<div class="row top-element">
  <div class="ad-300-250"></div>
  <div class="rest">

    <aside class="list-group pull-left context-menu">
      <%= link_to 'Summary', @clan, class: 'list-group-item'+(active=='players' ? ' active' : '') %>
      <%= link_to 'Statistics', @clan, class: 'list-group-item' %>
      <%= link_to 'Tanks', @clan, class: 'list-group-item' %>
      <%= link_to 'Member changes', [:changes, @clan], class: 'list-group-item'+(active=='changes' ? ' active' : '') %>
      <%= link_to 'Clan wars', @clan, class: 'list-group-item' %>
    </aside>

    <div class="text-center summary">
      <%= image_tag @clan.emblem(64) %>
      <h1>[<%= @clan.tag %>]</h1><br>
      <span><%= @clan.name %></span><br>
      <strong><%= @clan.motto %></strong>
    </div>
  </div>
</div>