<tr class="clan-element">
  <td><%= i %></td>
  <td><%= link_to clan do %>
        <%= image_tag clan.emblem %>
      <% end %>
  </td>
  <td><%= link_to clan.tag, clan %></td>
  <td><%= link_to clan.name, clan %></td>
  <td>
    <div class="clan-stat-value stat-rank-<%= Random.rand(6)+1 %>">62.00 %</div>
  </td>
  <td>
    <div class="clan-stat-value stat-rank-<%= Random.rand(6)+1 %>">2000 k</div>
  </td>
  <td>
    <div class="clan-stat-value stat-rank-<%= Random.rand(6)+1 %>">170 k</div>
  </td>
  <td>
    <div class="clan-stat-value stat-rank-<%= Random.rand(6)+1 %>">180 k</div>
  </td>
</tr>