<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="nav-left-filler"></div>
      <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo-nav.png' %>
      <% end %>
    </div>

    <div class="navbar-menu">

      <ul class="nav navbar-nav">
        <li<%= @nav_item == 'clans' ? ' class="active"'.html_safe : '' %>><%= link_to 'Clans', clans_path %></li>
        <li<%= @nav_item == 'stats' ? ' class="active"'.html_safe : '' %>><a href="#">Statistics</a></li>
        <li<%= @nav_item == 'blog' ? ' class="active"'.html_safe : '' %>><a href="#">Blog</a></li>
        <li<%= @nav_item == 'faq' ? ' class="active"'.html_safe : '' %>><a href="#">FAQ & Contact</a></li>
      </ul>

      <div class="nav-search">
        <form class="navbar-form navbar-left" role="search" action="<%= search_path %>" method="get" id="nav_search_from">
          <%= render 'shared/region_dropdown', class_name: 'navbar-left' %>
          <div class="form-group">
            <%= text_field_tag :search, '', id: :nav_search, placeholder: 'Search', class: 'form-control input-sm' %>
          </div>
          <%= hidden_field_tag :region, current_region, id: :nav_region %>
          <button class="btn">
              <i class="glyphicon glyphicon-search icon-white"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>